<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 login-section-wrapper">
      <div class="brand-wrapper">
        <img
          src="./../../../assets/img/logo/logo.svg"
          alt="logo"
          class="logo"
        />
      </div>
      <div class="login-wrapper my-auto">
        <h1 class="login-title">Log in</h1>
        <form #submitForm="ngForm" (ngSubmit)="loginForm(submitForm.value)">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="email@example.com"
              ngModel
              #email="ngModel"
              required
              email
            />
          </div>
          <span
            class="help-block"
            style="color: red;"
            *ngIf="!email.valid && email.touched"
          >
            Please enter valied email address
          </span>

          <div class="form-group mb-4">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="enter your passsword"
              ngModel
              #password="ngModel"
              required
            />
          </div>

          <span
            class="help-block"
            style="color: red;"
            *ngIf="!password.valid && password.touched"
          >
            Please enter password
          </span>

          <button
            class="btn btn-block login-btn"
            type="submit"
            [disabled]="!submitForm.valid"
          >
            Login
          </button>
        </form>
        <!-- <a href="#!" class="forgot-password-link">Forgot password?</a>
        <p class="login-wrapper-footer-text">
          Don't have an account?
          <a href="#!" class="text-reset">Register here</a>
        </p> -->
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img
        src="./../../../assets/img/logo/login.jpg"
        alt="login image"
        class="login-img"
      />
    </div>

    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="square-jelly-box"
      [fullScreen]="true"
      ><p style="color: white;">Loading...</p></ngx-spinner
    >
  </div>
</div>
