<div class="contaner">
  <div class="card">
    <div class="card-header">
      View Users List
    </div>
    <div class="row" style="margin: 20px;">
      <div class="col">
        <button type="button" class="btn btn-lg btn-pill btn-primary btn-lg">
          <i class="fa fa-plus"></i>
          &nbsp;Add New
        </button>
        <button type="button" class="btn btn-lg btn-pill btn-primary btn-lg">
          <i class="fa fa-check"></i>
          &nbsp; Make Active
        </button>
        <button type="button" class="btn btn-lg btn-pill btn-primary btn-lg">
          <i class="fa fa-close"></i>
          &nbsp; Make Inactive
        </button>
        <button type="button" class="btn btn-lg btn-pill btn-primary btn-lg">
          <i class="fa fa-trash"></i>
          &nbsp; Delete
        </button>
      </div>
    </div>
  </div>
</div>
